ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    float: left;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body {
    background-color: rgb(235, 221, 204);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

#top_h3 {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    color: azure;
    text-shadow: 5px 5px 5px rgb(150, 202, 185);
    font-family: myFontFamily;
}

#footer_p {
    text-align: center;
    color: rgb(223, 209, 209);
}

#left {
    width: 70px;
    height: 1990px;
    float: left;
    background-color: rgb(107, 119, 139);
    margin-right: 70px;
    text-align: center;
}

#header {
    margin: 0;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #111;
    z-index: 999;
}

#map {
    margin-top: 80px;
    height: 600px;
    width: 680px;
    float: left;
    margin-left: 20px;
    border: 1px solid rgb(75, 81, 95);
    border-radius: 20px;
}

#listBar {
    margin-top: 50px;
    height: 600px;
    width: 598px;
    color: rgb(227, 230, 203);
    float: left;
    border: 1px solid rgb(75, 81, 95);
    border-radius: 20px;
    margin-bottom: 20px;
}

#timeline {
    height: 600px;
    width: 1300px;
    margin-top: 50px;
    border: 1px solid rgb(75, 81, 95);
    border-radius: 20px;
    float: left;
    text-align: left;
}

#pieChart2 {
    margin-left: 20px;
    margin-top: 50px;
    height: 600px;
    width: 680px;
    float: left;
    border: 1px solid rgb(75, 81, 95);
    border-radius: 20px;
    margin-bottom: 20px;
}

.main {
    width: 1500px;
    height: fit-content;
    float: left;
}

#gotoTop {
    position: fixed;
    right: 0px;
    bottom: 90px;
    display: none;
}

#goNext {
    position: fixed;
    right: 0px;
    bottom: 30px;
}

#goBack {
    position: fixed;
    left: 0px;
    bottom: 50px;
}

.ins {
    font-weight: 500;
    color: rgb(143, 167, 202);
    text-shadow: 5px 5px lightblue;
    font-family: sans-serif;
}

#pmap {
    margin-top: 70px;
    height: 410px;
    width: 40%;
    float: left;
    border-radius: 20px;
    margin-left: 80px;
}

.pline {
    height: 200px;
    width: 45%;
    float: left;
    margin-left: 52px;
    border-radius: 20px;
}

#ppie {
    margin-top: 70px;
    height: 410px;
    width: 40%;
    float: left;
}

#choose {
    margin-top: 70px;
    height: 410px;
    width: 8%;
    float: left;
    text-align: center;
}

button {
    background-color: #008CBA;
    border-radius: 5px;
}

@font-face {
    font-family: myFontFamily;
    src: url('../resource/myFontFamily.ttf');
}